//Theme color
$primary: #dca0c4;
$secondary: #8c6bae;
$primary-light: #f0b5ce;
$primary-dark: #c48dbc;
$secondary-light: #aa7bb5;

//general colors
$white: #FFFFFF;
$faded-white: #EBEBEB;
$calm-grey: #828282;

//colors with opacity
$black-opacity-0_1: rgba(0, 0, 0, 0.1);
$black-opacity-0_2: rgba(0, 0, 0, 0.2);
$black-opacity-0_25: rgba(0, 0, 0,0.25);
$white-opacity-0: rgba(255, 255, 255, 0);
$white-opacity-0_2: rgba(255, 255, 255, 0.2);
$white-opacity-0_3: rgba(255, 255, 255, 0.3);
$white-opacity-0_4: rgba(255, 255, 255, 0.4);