@import "../../styles/colors.scss";
@import "../../styles/styleFunctions.scss";

.container{
    @include containerProps(fixed,0,0,0,0);
    display: flex;
    .card{
        display: flex;
        background: linear-gradient(248.66deg, #8C6BAE 0%, #F0B5CE 100%);
        margin: auto;
        width: 80%;
        .card-style{
            padding: 30px 28px;
        }
        .left {
            width: 60%;
            .left-row-1{
                display: flex;
                justify-content: space-between;
                .moon{
                    width: 74.47px;
                    height: 74.89px;
                    // position: absolute;
                    // left: 9.75%;
                    // right: 85.07%;
                    // top: 15.99%;
                    // bottom: 75.68%;
                }
                div{
                    background: rgba(255, 255, 255, 0.16);
                    border-radius: 100px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    width: 90px;
                    button{
                      all:unset;
                      font-size: 24px;
                      color: #FFFFFF;
                      cursor: pointer;
                    }
                    .fahrenheit{
                        background: rgba(255, 255, 255, 0.18);
                        border-radius: 100px;
                        flex:1;
                        text-align: center;
                    }
                    .celcius {
                        flex: 1;
                        text-align: center;
                    }
                }
            }
            .left-row-2{
                .temp{
                    font-weight: lighter;
                    margin: 0;
                    font-size: 164px;
                    color: #FFFFFF;
                    text-shadow: 1.51px 2.6px 1px rgba(0, 0, 0, 0.1);
                    span{
                        position: absolute;
                        font-size: 42px;
                        font-weight: 400;
                    }
                }
                .date{
                    font-weight: 300;
                    margin: 0;
                    font-size: 36px;
                    color: #FFFFFF;
                    text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
                }
                .date-time{
                    display: flex;
                    p{
                        padding-right: 10px;
                        color: #FFFFFF;
                        text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
                    }
                }
            }
            .left-row-3{
                display: flex;
                .weather-detail{
                    display: flex;
                    align-items: center;
                    text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
                    img{
                        padding-right: 8px;
                    }
                    p{
                        padding-right: 8px;
                        color: #FFFFFF;
                    }
                }
                .separator{
                    padding: 0 12px;
                    color: #FFFFFF;
                }
            }
            .left-row-4{
                display: flex;
                margin-top: 16px;
                .rectangle{
                    width: 70px;
                    padding: 0 34px 0 0;
                    .rectangle-info{
                        border:1px solid rgba(255, 255, 255, 0.2);
                        border-radius: 11.3852px;
                        background-color: rgba(255, 255, 255, 0.2);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        padding: 0 30px;
                        p{
                            color: #FFFFFF;
                            font-size: 20pxx;
                            font-weight: 400;
                            text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
                        }
                        img{
                            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
                        }
                    }
                }
            }
            .forward-arrow {
                all: unset;
                position: absolute;
                left:46%;
                bottom: 14%;
                img{
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
            }
        }
        .right{
            width: 40%;
            background: radial-gradient(600px 800px at top left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .right-row-1{
                width: 100%;
                background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) -41.94%, rgba(255, 255, 255, 0.12) 57.51%);
                backdrop-filter: blur(100px);
                border-radius: 12px;
                .location-pin{
                    all: unset;
                }
                form{
                    input{
                       all: unset;
                       width:100%;
                       padding: 10px;
                    }
                    button{
                        all:unset;
                        position: absolute;
                        right:16px;
                        top:10px;
                    }
                }
            }
            .right-row-2{
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                margin: 24px 0;
                .sun-details{
                    display: flex;
                    width: 90px;
                    flex-direction: column;
                    .title{
                        color: #FFFFFF;
                        text-align: center;
                        font-size: 24px;
                        text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
                    }
                    .clock{
                        align-self: center;
                        width: 100px;
                        background: rgba(255, 255, 255, 0.26);
                        border-radius: 100px;
                        .clock-img{
                            margin:12px 0;
                            display: flex;
                            justify-content: center;
                            img{
                                width: 80%;
                                height: 80%;
                            }
                        }
                        .t-1 {
                            text-shadow: none;
                            color: #FFFFFF;
                            font-size: 24px;
                            text-align: center;
                            margin-bottom:0px;
                        }
                        .t-2 {
                            text-shadow: none;
                            color: #EBEBEB;
                            font-size: 18px;
                            text-align: center;
                            margin: 1px 0 30px 0;
                        }
                    }
                }
            }
            .right-row-3{
                display: flex;
                margin:auto;
                width: 100%;
                .sec-1{
                position: absolute;
                left: 0%;
                right: 89.75%;
                top: 25.52%;
                bottom: 46.85%;
                background: rgba(255, 255, 255, 0.24);
                }
                div{
                    padding:8px;
                    p{
                        color: #FFFFFF;
                        text-align: center;
                        font-size: 22px;
                        text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
                    }
                    .half-arc {
                        position: relative;
                        width: 200px;
                        height: 100px;
                        border-top-left-radius: 100px;
                        border-top-right-radius: 100px;
                        border-bottom: 0;
                        box-sizing: border-box;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    
                        &:before {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 200%;
                            border-radius: 50%;
                            background-image: conic-gradient(#FFFFFF, #350ba9 70%);
                            transition: transform .5s ease-in-out;
                            z-index: 1;
                            transform: rotate(270deg);
                        }
                    
                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            background: #b592d7;
                            z-index: 2;
                            width: calc(100% - 32px);
                            height: calc(200% - 32px);
                            border-radius: 50%;
                            top: 16px;
                            left: 16px;
                        }
                    
                        span {
                            color: #FFFFFF;
                            z-index: 3;
                            font-size: 14px;
                            text-align:center;
                        }
                    }
                }
            }
            hr{
              width: 85%;
              color: #FFFFFF;
            }
        }
    }
}